<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

<!--    <bean id="bookService"-->
<!--          class="spring.jungwoo.springapplicationcontext.BookService">-->
<!--          <property name="bookRepository" ref="bookRepository"/>-->
<!--    </bean>-->

<!--    <bean id="bookRepository"-->
<!--          class="spring.jungwoo.springapplicationcontext.BookRepository"/>-->
<!--이렇게 빈 등록하는 것이 귀찮아져서 나온 것이 아래 내용-->

    <context:component-scan base-package="spring.jungwoo.springapplicationcontext"/>



</beans>