<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common ::head('My frist')">
</head>


<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('join')">
</nav>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>

<!--내용-->
<style>
    .fieldError {
        border-color: #bd2130;
    }
</style>
<body class="bg-light">
<div class="container">
    <hr/>
    <div class="row">
        <div class="col-md-10">
            <table class="table table-condensed">
                <thead>
                <tr>
                    <th>이름</th>
                    <td th:text="${memberForm.name}"></td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>아이디</th>
                    <td th:text="${memberForm.loginid}"></td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td th:text="${memberForm.email}"></td>
                </tr>
                <tr>
                    <th>권한</th>
                    <td th:text="${memberForm.role}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                </tr>
                <tr>
                    <th>연락처</th>
                </tr>
                </tbody>
            </table>
            <div class="text-right">
                <a type="button" class="btn btn-primary" th:href="@{/admin/users/edit/{memberId}(memberId=${memberForm.id})}" methods="get">수정</a>
                <form id="delete-form" th:action="@{/admin/users/delete/{memberId}(memberId=${memberForm.id})}" method="post">
                    <input type="hidden" name="_method" value="delete"/>
                    <button type="submit" class="btn btn-primary">회원 추방</button>
                </form>
                <!--            <a type="button" class="btn btn-primary" th:href="@{/boards/{id}/delete(id=${boardForm.id})}">삭제</a>-->
                <a type="button" class="btn btn-primary" th:href="@{/admin/users}">회원 목록</a>
            </div>
        </div>
    </div>
    <hr/>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="/docs/4.5/assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="/docs/4.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<script src="form-validation.js"></script>
</body>

</html>